<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Wayra-nita{% endblock %}</title>
        {% block stylesheets %}
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/airwebapp/css/bootstrap-image-gallery.min.css') }}">
{#        <link rel="stylesheet" href="{{ asset('bundles/airwebapp/css/bootstrap/bootstrap.css') }}">#}
    <link rel="stylesheet" href="{{ asset('bundles/airwebapp/css/bootstrap/bootstrap-w.css') }}">

            {# Bootstrap fonts #}
            {% stylesheets output='css/bootstrap/glyphicons-halflings-regular.ttf'
                           '@AirWebAppBundle/Resources/public/css/bootstrap/fonts/glyphicons-halflings-regular.ttf'
            %}{% endstylesheets %}
            {% stylesheets output='css/bootstrap/glyphicons-halflings-regular.eot'
                           '@AirWebAppBundle/Resources/public/css/bootstrap/fonts/glyphicons-halflings-regular.eot'
            %}{% endstylesheets %}
            {% stylesheets output='css/bootstrap/glyphicons-halflings-regular.svg'
                           '@AirWebAppBundle/Resources/public/css/bootstrap/fonts/glyphicons-halflings-regular.svg'
            %}{% endstylesheets %}
            {% stylesheets output='css/bootstrap/glyphicons-halflings-regular.woff'
                           '@AirWebAppBundle/Resources/public/css/bootstrap/fonts/glyphicons-halflings-regular.woff'
            %}{% endstylesheets %}
        {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
        {% block body %}{% endblock %}
        {% block javascripts %}    
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9eKiJYjvaoDa2g--L4aJvGmqNDrwa8o&sensor=true">
    </script>
            {% javascripts 
                   '@AirWebAppBundle/Resources/public/js/jquery/*'
                   '@AirWebAppBundle/Resources/public/js/bootstrap/*'                   
                   '@AirWebAppBundle/Resources/public/js/backbonejs/underscore1.6.0.min.js'                   
                   '@AirWebAppBundle/Resources/public/js/backbonejs/backbone.min.js'                   
                   '@AirWebAppBundle/Resources/public/js/application/models/*'                   
                   '@AirWebAppBundle/Resources/public/js/application/views/*'                   
                   '@AirWebAppBundle/Resources/public/js/application/main_app.js'                                     
                   'http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js'                                     
                   '@AirWebAppBundle/Resources/public/js/bootstrap-image-gallery.min.js'                                     
            %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AirWebAppBundle/Resources/public/js/backbonejs/underscore-min.map' output='js/underscore-min.map' %}
    <script src="{{ asset_url }}"></script>
            {% endjavascripts %}                
            {% javascripts '@AirWebAppBundle/Resources/public/js/backbonejs/backbone-min.map' output='js/backbone-min.map' %}
    <script src="{{ asset_url }}"></script>
            {% endjavascripts %}      
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}

    <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>
</html>
